.app{
  text-align: center;
  background-color: #171F47;

}

h1{
  color: #685D17;
}

label{
  color: #685D17
}

.user-input-submit-btn{

}

.district-name {
  font-size: 25px;
  font-weight: bolder;
}

.above{
  color: pink;
}
