.below{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  font-weight: bolder;
  color: #C86800;
}

.above{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 25px;
  font-weight: bolder;
  color: #C8AE00;
}
