.below{
  font-family: times-new-roman;
  font-size: 25px;
  font-weight: bolder;
  color: #C86800;
}

.above{
  font-family: times-new-roman;
  font-size: 25px;
  font-weight: bolder;
  color: #C8AE00;
}
